/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.section {
  padding: 50px 0;
  margin: 25px 0;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  color: #222222;
  text-align: center;
  padding: 30px 0 0 0;
  margin-bottom: 0;
}

.section-subtitle {
  font-family: "Droid Serif", serif;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  color: #777777;
  margin-top: 0;
  margin-bottom: 30px;
}

/* Header */
.splash {
  background-image: url("https://i.postimg.cc/X7T2cQd7/Background-Image.jpg");
  width: 1400px;
  height: 700px;
  position: relative;
}

.logo {
  font-family: "Wisdom Script AI", serif;
  color: #fed136;
  font-size: 26px;
  margin-top: 40px;
}

.navigation ul {
  list-style-type: none;
}

.navigation ul li {
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 40px 20px 0 25px;
}

.splash .col {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  position: absolute;
  transform: translateY(65%);
  right: 5%;
}

.splash h2 {
  font-family: "Droid Serif", serif;
  font-style: italic;
  font-size: 40px;
  text-transform: capitalize;
}

.splash h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  height: 65px;
  width: 240px;
  background-color: #fed136;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 65px;
}

/* Services */
.services .box {
  text-align: center;
  margin: 30px;
}

.services i {
  font-size: 30px;
  text-align: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #fed136;
  border: 3px solid #fed136;
  width: 67px;
  height: 67px;
  line-height: 67px;
  border-radius: 50%;
  margin: 30px 0 0 0;
}

.services h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  color: #222222;
  margin: 0;
}

.services p {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 400;
  color: #777777;
  text-align: center;
  margin-top: 0;
}

/* Portfolio */
.portfolio .box {
  text-align: center;
  margin: 30px;
}

.portfolio h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
  color: #333333;
  margin: 0;
  padding-bottom: 0;
}

.portfolio p {
  font-family: "Droid Serif", serif;
  font-style: italic;
  font-size: 18px;
  color: #737373;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
}

/* Footer */
.page-footer {
  height: 120px;
}

.footer-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120px;
  color: #555555;
}

.page-footer .col-md-4 li {
  display: inline-block;
  list-style-type: none;
  font-size: 0;
  line-height: 120px;
}

.page-footer .col-md-4 li i {
  font-size: 18px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  color: #fff;
  background-color: #222222;
  margin-right: 10px;
}

/* Media */
@media (max-width: 767px) {
  .title-wrapper h1 {
    font-size: 30px;
  }
  .title-wrapper h2 {
    font-size: 25px;
  }
  .logo {
    font-size: 30px;
  }
  .navigation ul li {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    font-size: 20px;
    text-align: left;
    padding: 5px 0;
    margin: 0;
  }
  .services p, .footer-text {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */